GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_ALLOWED_LOGIN=nimdalkr
GITHUB_REPO_OWNER=nimdalkr
GITHUB_REPO_NAME=nimdalblog
GITHUB_REPO_BRANCH=main
GITHUB_OAUTH_SCOPE=read:user public_repo
ADMIN_SESSION_SECRET=replace-with-a-long-random-secret
