---
const title = "devkoriel CMS";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <title>{title}</title>
    <style>
      :root {
        color-scheme: light;
      }

      body {
        margin: 0;
        font-family: "Geist Variable", -apple-system, BlinkMacSystemFont, system-ui,
          "Segoe UI", sans-serif;
        background: #fafafa;
      }
    </style>
  </head>
  <body>
    <script src="https://unpkg.com/decap-cms@^3.10.0/dist/decap-cms.js"></script>
  </body>
</html>
